@import "../../node_modules/bootstrap/scss/bootstrap";

.btn.btn-primary{
  color: $white;
}

.btn.btn-round{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.top {
  overflow: hidden;

  .search-form {
    width: 350px;

    .input-group-lg>.form-control{
      font-size: .8rem;
    }
  }

  .account-links {
    position: relative;
    width: 320px;
    height: 96px;
    background: $purple;

    &::before,
    &::after{
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      border-style: solid;
    }

    &::before {
      left: 0;
      transform: translateX(-100%);
      width: 0;
      border-width: 0 0 96px 50px;
      border-color: transparent transparent $purple transparent;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
    }

    &::after {
      right: 0;
      transform: translateX(100%);
      border-width: 96px 50px 0 0;
      border-color: $purple transparent transparent transparent;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
    }
  }
}

.top-categories {
  .card-header{
    border-bottom: 1px solid theme_color("$light");
  }
  .card-body {
    padding: 0;

    .list-group-item {
      border: none;
      font-weight: bold;
      padding-top: ($spacer);
      padding-bottom: ($spacer);

      &:hover {
        background-color: theme_color("primary");
      }
    }
  }
}

#carousel{
  .carousel-caption{
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
    left: 8%;
    right: unset;
    width: 210px;
    text-align: left;

    h3{
      font-size: 3rem;
      font-weight: normal;
    }

    p{
      font-size: .9rem;
    }

    @include media-breakpoint-down(md){
      left: 50%;
      top: unset;
      bottom: 50%;
      width: 95%;
      transform: translate(-50%, 50%) scale(.7, .7);
      padding: $spacer $spacer * 1.5;
      background-color: rgba(theme_color("light"), .9);

      h3{
        font-size: 2.2rem;
      }

      p, .btn{
        font-size: 1.2rem;
      }
    }
  }
}

.banner{
  position: relative;

  .banner-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 40%;
  }
}

.home-products .card{
  border: 0;

  .card-body{
    padding-left: 0;
    padding-right: 0;
  }

  .card-text{
    color: lighten($gray-700, 35);
    font-size:.8rem;
  }
}